html{
  background-color: cornflowerblue;
}
.App {
  text-align: center;
  font-size: 35px;
  margin-top: 7%;
}
.clock-div{
  margin-top: 60px;
  display: flex;
  justify-content: space-around;

}
.nyText{
  display: inline-block;
}
.hiText{
  display: inline-block;
}
.tText{
  display: inline-block;
}
.clock-ny{
  display: flex;
  font-size: 32px;
  margin-left: -9px;

}
.clock-hi{
  display: flex;
  font-size: 32px;
  justify-content: space-around;
  margin-left: -18px;
}
.clock-kr{
  display: flex;
  font-size: 32px;
  justify-content: space-around;
  margin-left: -34px;
}
.App-title {
  font-size: 80px;
  margin-top: -20px;
  margin-bottom: 40px;
  color: white;
   text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
   font-family: 'Russo One', sans-serif;
}
.Date-title {
  display: inline;
  color: red;
  font-family: 'Russo One', sans-serif;

}

.Clock-days,.Clock-hours,.Clock-miniutes,.Clock-seconds {
  display: inline;
  margin: 20px;
  font-size: 40px;
  font-family: 'Russo One', sans-serif;
}

.input-div {
  margin-top: 90px;
}

.num-days,.num-hours,.num-miniutes,.num-seconds{
  display: inline;
  color: red;
  background-color: white;
  border: 2px solid black;
  padding: 7px;
  border-radius: 4px;
}

.input-date{
  width: 26%;
  margin-top: 5px;
  height: 35px;
  font-size: 20px;
  padding-bottom: 4px;
  padding-left: 20px;
  border: 1px solid black;
  border-radius: 4px;
  font-family: 'Russo One', sans-serif;
}

.input-date:hover {
  border: 2px solid red;
  background-color: rgb(240,240,240);
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 7px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Russo One', sans-serif;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid red;
}

.button1:hover {
    background-color: red;
    color: white;
}
