html{
  background-color: cornflowerblue;
}
.App {
  text-align: center;
  font-size: 35px;
  margin-top: 20%;

}

.App-title {
  font-size: 70px;
  margin-top: -20px;
  margin-bottom: 40px;
}
.Date-title {
  display: inline;
  color: red;
}

.Clock-days,.Clock-hours,.Clock-miniutes,.Clock-seconds {
  display: inline;
  margin: 20px;
  font-size: 40px;
}

.input-div {
  margin-top: 40px;
}
